<% if @fans.any? %>
	<h3>Fans</h3>
	<ol>
		<% @fans.each do |fan| %>
			<li>
				<%= profile_image_for(fan, size: 35) %>
				<%= link_to fan.name, fan %>
			</li>
		<% end %>
	</ol>
<% end %>

<h3>Genres</h3>
<% if @genres.any? %>
	<ol>
	<% @genres.each do |genre| %>
		<li>
			<%= link_to genre.name %>
		</li>
	<% end %>
	</ol>
<% end %>
